
:root{

    --height-nav-top: 60px;
    --width-nav-side-closed: 50px;
    --width-nav-side-current: var(--width-nav-side-closed);

    --bg-main: #ebecf1;
    --bg-window: #fff;
    --bg-nav-side: #56677b;
    --bg-nav-top: #fcfdfe;
    --bg-nav-side-header: #5e718b;

    --bg-button-primary: #d1d5d9;
    --bg-button-primary-hover: #60a1e3;
    --bg-button-primary-active: #477298;

    --bg-button-secondary: #7a8092;
    --bg-button-secondary-hover: #9499a7;
    --bg-button-secondary-active: #656b77;

    --bg-button-red: #cf5050;
    --bg-button-red-hover: #e16a6a;
    --bg-button-red-active: #975252;

    --border-col-nav-top: #dededf;
    --border-col-nav-side: #53657a;
    --border-col-window: #d1d5d9;
    --border-col-nav-side-header: #7f8f9f;

    --font-col-button: #fff;

    --font-col-primary: #5b5d6b;
    --font-col-secondary: #4c5473;

    --font-col-heading-primary: #1161ad;
    --font-col-heading-secondary: #1577d3;

    --font-col-nav-top-primary: #8d91a5;

    --font-col-nav-side-primary: #c9d4e4;
    --font-col-nav-side-hover: hsl(214, 20%, 95%);
    --font-col-nav-side-active: hsl(210, 6%, 80%);



    margin: 0;
    padding: 0;

    font-size: 62.5%;
    font-family: 'Encode Sans', sans-serif;

    background-color: var(--bg-main);
    min-width: 320px;

}

body{
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    
}

body.open{
    --width-nav-side-current: 200px;
}

@media only screen and (max-width: 550px) {
    body.open{
        --width-nav-side-current: 100%;
    }
}
@media only screen and (max-width: 700px) {
    #nav-top, #root > main{
        --width-nav-side-current: var(--width-nav-side-closed)
    }
}


#nav-top, #nav-side, #root > main{
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;

}



#nav-top{
    width: 100%;
    height: var(--height-nav-top);
    background-color: var(--bg-nav-top);
    border-bottom: solid 1px var(--border-col-nav-top);
    position: fixed;
    
    left: var(--width-nav-side-current);
    z-index: 1;
}

#nav-side{
    width: var(--width-nav-side-current);
    height: 100vh;

    background-color: var(--bg-nav-side);
    border-right: solid 2px var(--border-col-nav-side);
    position: fixed;
    z-index: 2;
}

#root > main{
    position: absolute;
    left: var(--width-nav-side-current);
    top: var(--height-nav-top);
    width: calc(100% - var(--width-nav-side-current));
    padding: 20px;
}

#nav-top{
    display: flex;
    align-items: center;
    padding: 0 20px;
}

#nav-side{
    display: flex;
    flex-direction: column;
}

#nav-side > header{

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: var(--height-nav-top);

    border-bottom: solid 1px var(--border-col-nav-side-header);
    background-color: var(--bg-nav-side-header);

}

#nav-side > section{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
}

.nav-side-button{
    width: 100%;
    display: grid;
    grid-template-columns: var(--width-nav-side-closed) 1fr auto;
    overflow: hidden;
    padding: 8px;
    padding-left: 0;
    box-sizing: border-box;
    cursor: pointer;
    margin-bottom: 8px;
    color: var(--font-col-nav-side-primary);
}
.nav-side-button:hover{
    color: var(--font-col-nav-side-hover); 
}
.nav-side-button:active{
    color: var(--font-col-nav-side-active); 
}
.nav-side-button >:first-child{
    text-align: center;
}
.nav-side-button >:last-child{
    text-align: center;
}

#nav-side button{
    width: 100%;
}

#nav-side .toggle-menu{
    position: absolute;
    bottom: 0;
    left: 0;
}