#window-login{
    display: flex;
    flex-direction: column;
    position: relative;
}

form{
    margin-top: 20px;
    min-width: 300px;
    display: flex;
    gap: 15px;
    flex-direction: column;
}
