:root {

    --height-nav-top: 60px;
    --width-nav-side-closed: 50px;
    --width-nav-side-current: var(--width-nav-side-closed);

    --bg-main: #ebecf1;
    --bg-window: #fff;
    --bg-nav-side: #56677b;
    --bg-nav-top: #fcfdfe;
    --bg-nav-side-header: #5e718b;

    --bg-button-primary: #488dd0;
    --bg-button-primary-hover: #60a1e3;
    --bg-button-primary-active: #477298;

    --bg-button-secondary: #7a8092;
    --bg-button-secondary-hover: #9499a7;
    --bg-button-secondary-active: #656b77;

    --bg-button-red: #cf5050;
    --bg-button-red-hover: #e16a6a;
    --bg-button-red-active: #975252;

    --border-col-nav-top: #dededf;
    --border-col-nav-side: #53657a;
    --border-col-window: #d1d5d9;
    --border-col-nav-side-header: #7f8f9f;

    --font-col-button: #fff;

    --font-col-primary: #5b5d6b;
    --font-col-secondary: #4c5473;

    --font-col-heading-primary: #1161ad;
    --font-col-heading-secondary: #1577d3;

    --font-col-nav-top-primary: #8d91a5;

    --font-col-nav-side-primary: #c9d4e4;
    --font-col-nav-side-hover: hsl(214, 20%, 95%);
    --font-col-nav-side-active: hsl(210, 6%, 80%);

    --scroll-col-nav-side: rgba(240, 242, 245, 0.5);


    margin: 0;
    padding: 0;

    font-size: 62.5%;
    font-family: 'Encode Sans', sans-serif;

    background-color: var(--bg-main);
    min-width: 320px;

}

.thin-scroll {
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-col-nav-side) transparent;
}

.thin-scroll::-webkit-scrollbar {
    width: 5px;
}

.thin-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.thin-scroll::-webkit-scrollbar-thumb {
    background-color: var(--scroll-col-nav-side);
    border-radius: 20px;
    border: transparent;
}


body {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}


h1{ color: var(--font-col-heading-primary); margin: 0 0 10px 0;}
h2{ color: var(--font-col-heading-secondary); margin: 0 0 6px 0;}


a, a:active, a:visited{
    color: blue;
    text-decoration: none;
}
a:hover{
    color: hsl(240, 100%, 30%);
}

body.open {
    --width-nav-side-current: 200px;
}

@media only screen and (max-width: 550px) {
    body.open {
        --width-nav-side-current: 100%;
    }
}

@media only screen and (max-width: 700px) {

    #nav-top,
    .window-popup,
    #root>main {
        --width-nav-side-current: var(--width-nav-side-closed)
    }
}


#nav-top,
#nav-side,
#root>main {
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;

}



#nav-top {
    width: 100%;
    height: var(--height-nav-top);
    background-color: var(--bg-nav-top);
    border-bottom: solid 1px var(--border-col-nav-top);
    position: fixed;

    left: var(--width-nav-side-current);
    z-index: 4;
}

#nav-side {
    width: var(--width-nav-side-current);
    min-height: 100%;

    background-color: var(--bg-nav-side);
    border-right: solid 2px var(--border-col-nav-side);
    position: fixed;
    z-index: 5;
}

#root>main {
    position: absolute;
    left: var(--width-nav-side-current);
    top: var(--height-nav-top);
    width: calc(100% - var(--width-nav-side-current));
    padding: 20px;
}

#nav-top {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

#nav-side {
    display: grid;
    grid-template-rows: var(--height-nav-top) 1fr max-content;
}


#nav-side>header {
    overflow: hidden;
    border-bottom: solid 1px var(--border-col-nav-side-header);
}

#nav-side>section {
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: solid 1px var(--border-col-nav-side-header);
}

.nav-side-button {
    margin: 10px 0;
    display: grid;
    min-height: 36px;
    align-items: center;
    cursor: pointer;
    grid-template-columns: var(--width-nav-side-closed) 1fr auto;
    color: var(--font-col-nav-side-primary);
    transition: all 0.2s ease-in-out;
    padding-right: 10px;
    box-sizing: border-box;
}

.nav-side-button> :first-child {
    width: var(--width-nav-side-closed);
    box-sizing: border-box;
    text-align: center;
}


.nav-side-button:hover {
    color: var(--font-col-nav-side-hover);
}

.nav-side-button:hover> :last-child {
    transform: translate(3px);
}

.nav-side-button:active {
    color: var(--font-col-nav-side-active);
}


#nav-side.closed .nav-side-button {
    padding-right: 0;
    grid-template-columns: var(--width-nav-side-closed);
    position: relative;
}

#nav-side.closed .nav-side-button> :nth-child(2),
#nav-side.closed .nav-side-button> :last-child {
    display: none;
}

#nav-side-tooltip {
    position: absolute;
    top: 0;
    left: var(--width-nav-side-closed);
    width: max-content;
    max-width: 200px;
    background-color: var(--bg-nav-side);
    z-index: 100;

    display: flex;
    align-items: center;
    padding: 10px 15px 10px 10px;
    color: var(--font-col-nav-side-hover);
    box-sizing: border-box;

    display: none;
}

#nav-side-tooltip.open{
    visibility: hidden;
}

.window{
    min-width: 100px;
    min-height: 100px;

    border: solid 1px var(--border-col-window);
    background-color: var(--bg-window);
    color: var(--font-col-primary);

    padding: 26px;
    box-sizing: border-box;
}

.window-popup{
    position: absolute;
    left: var(--width-nav-side-current);
    top: var(--height-nav-top);
    box-sizing: border-box;

    width: calc(100% - var(--width-nav-side-current));
    height: 100%;

    z-index: 3;
    background-color: rgba(255,255,255, 0.6);
    backdrop-filter: blur(2px);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    transition: all 0.2s ease-in-out;
}

.window-popup > .window{
    max-width: 500px;
    max-height: 800px;
    overflow: auto;
    width: max-content;
}

main{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    min-width: 750px;
    justify-content: center;
}

#main-centered{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}

.input-floating-label{
    position: relative;
    font-size: inherit;
}

.input-floating-label > input{
    margin-top: 15px;
}

.input-floating-label > input:focus ~ span,
.input-floating-label > input:not(:focus):valid ~ span{
    bottom: 0;
    left: 5px;
    top: 0;
    right: 0;
    font-size: 80%;
}

.input-floating-label > span{
    position: absolute;
    pointer-events: none;
    transition: 0.2s ease all;
    
    bottom: 0;
    left: 5px;
    top: 15px;
    right: 0;
    font-size: 100%;
}

select{
    border: solid 1px var(--border-col-window);
    font-size: 1.6rem;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    
}
.txtarea{
    border: solid 1px var(--border-col-window);
    font-size: 1.6rem;
    font-family: inherit;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    outline: none;
}

.txtarea:active{
    outline: none
}


.date-picker{
    grid-template-columns: 3.5em 1fr 4.5em;
}
.time-picker{
    grid-template-columns: 1fr 1fr 1fr;
}
.date-picker,
.time-picker{
    display: grid;
    width: 100%;
    box-sizing: border-box;
    justify-items: stretch;
    border: solid 1px var(--border-col-window);
}

.date-picker input,
.date-picker select,
.time-picker input,
.time-picker select {
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    border: 0;
    outline: 0;
}
.date-picker input:focus, .date-picker input:active,
.time-picker input:focus, .time-picker input:active{
    border: 0;
    outline: 0;
}

.input-tags, 
.input-cat{
    display: inline-block;
    width: 100%;
    position: relative;
}

.input-tags > .border,
.input-cat > .border{
    border: solid 1px var(--border-col-window);
    padding: 5px;

}

.input-tags .display-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow: hidden;
}

.input-cat .display-list{
    overflow: hidden;
}

.input-cat .cat {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap:5px;
    background-color: var(--border-col-nav-top);
    padding: 3px;
}

.input-tags .tag{
    display: grid;
    grid-template-columns: max-content max-content;
    gap:5px;
    background-color: var(--border-col-nav-top);
    padding: 3px;
}
.input-tags .drop-down,
.input-cat .drop-down{
    position: absolute;   
    width: 100%;
    left: 0;
    border: solid 1px var(--border-col-window);
    border-top: 0;
    padding-bottom: 10px;
    box-sizing: border-box;
    z-index: 1;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.input-tags .drop-down > * ,
.input-cat .drop-down > * {
    padding: 10px;
    box-sizing: border-box;
}

.input-tags .tag > :first-child:before{
    content: "#";
}

.input-tags .tag button,
.input-cat .cat button{
    color: inherit;
    background-color: transparent;
}

.input-tags input[type=text],
.input-cat input[type=text]{
    border: 0;
}

.input-tags .dd-item:hover,
.input-cat .dd-item:hover{
    background-color: var(--bg-button-primary-hover);
    color: white;
}

input{
    font-size: 1.6rem;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    border-bottom: solid 1px var(--border-col-window);
    padding: 8px;
}

input:focus{
    border-bottom: solid 1px var(--border-col-nav-side-header);
}

button{
    color: var(--font-col-button);
    font-family: inherit;
    outline: 0;
    border: 0;
    cursor: pointer;
}

.btn{
    font-size: 1.6rem;
    padding: 10px 20px;
}

.btn-sml{
    font-size: 1.4rem;
    padding: 8px 10px;
}

.btn-sml-p0{
    font-size: 1.4rem;
}



.btn.primary, 
.btn-sml.primary,
.btn-sml-p0.primary{
    background-color: var(--bg-button-primary);
}
.btn.primary:hover, .btn.primary:focus,
.btn-sml.primary:hover, .btn-sml.primary:focus,
.btn-sml-p0.primary:hover, .btn-sml-p0.primary:focus{
    background-color: var(--bg-button-primary-hover);
}
.btn.primary:active, 
.btn-sml.primary:active,
.btn-sml-p0.primary:active{
    background-color: var(--bg-button-primary-active);
}

.btn.secondary, 
.btn-sml.secondary,
.btn-sml-p0.secondary{
    background-color: var(--bg-button-secondary);
}
.btn.secondary:hover, .btn.secondary:focus,
.btn-sml.secondary:hover, .btn-sml.secondary:focus,
.btn-sml-p0:hover, .btn-sml-p0.secondary:focus{
    background-color: var(--bg-button-secondary-hover);
}
.btn.secondary:active, 
.btn-sml.secondary:active,
.btn-sml-p0:active{
    background-color: var(--bg-button-secondary-active);
}

.btn.red, 
.btn-sml.red,
.btn-sml-p0{
    background-color: var(--bg-button-red);
}
.btn.red:hover, .btn.red:focus,
.btn-sml.red:hover, .btn-sml.red:focus
.btn-sml-p0.red:hover, .btn-sml-p0.red:focus{
    background-color: var(--bg-button-red-hover);
}
.btn.red:active, 
.btn-sml.red:active,
.btn-sml-p0:active{
    background-color: var(--bg-button-red-active);
}
.tag-link::before{
    content: "#";
}
.tag-link{
    font-size: 1.4rem;
}

.form-section-buttons{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    gap: 10px;
}

.grid-2{
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: auto 300px;
    gap: 10px;
}

.collection-viewer{
    width: 100%;
}

.collection-viewer > .controls, .block-area > .controls {
    display: flex;
    gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.collection-viewer > .contents{
    display: flex;
    flex-wrap: wrap;
}

.collection-button{
    background-color: transparent;
    width: 130px;
    height: 130px;
    color: var(--font-col-secondary);
    box-sizing: border-box;
    border: solid 1px transparent;
    position: relative;
}
.collection-button:focus{
    background-color: rgba(93, 169, 255, 0.20);
}

.collection-button input[type="checkbox"]{
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 1;
    border: solid 1px green;
}

.collection-button input[type="checkbox"]:checked + .highlight-area{
    background-color: rgb(86 103 123 / 30%);
}

.collection-button .highlight-area{
    position: absolute;
    top:0; bottom: 0; left:0; right: 0;
}
.collection-button > .text-area{
    height: 30px;
    box-sizing: border-box;
}
.collection-button > .icon-area{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    width: 100%;
    height: 90px;
    padding-bottom: 5px;
    box-sizing: border-box;
}
.collection-button img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.collection-sl-item button{
    background-color: transparent;
    color: var(--font-col-primary)
}
.collection-sl-item > :last-child{
    font-size: 1rem;   
}

.collection-sl-item:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.collection-button:hover{
    border-color:  var(--font-col-secondary);
}
.block-area{
    border: solid 1px var(--font-col-nav-side-active);
}

.block-area textarea{
    width: 100%;
    min-height: 50px;
    /* height: max-content; */
    padding: 20px;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    resize: vertical;
    font-size: inherit;
}

.block-area > .controls{
    justify-content: flex-end;
    background-color: var(--font-col-nav-side-active);
}

.display-content-blocks{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.controls-browse{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls-browse button{
    max-width: 200px;
    max-height: 60px;
    width: 50%;
    height: 50%;
}


.post > .controls {
    display: flex;
    gap: 5px;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.05);
    margin: 10px 0;
}


.loader::before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;

    border: 5px solid rgb(191, 191, 191);
    border-top-color: rgb(191, 191, 191);;
    border-top-style: solid;
    border-top-width: 5px;
    border-radius: 50%;
    border-top: 5px solid rgb(74, 74, 74);
    -webkit-animation: spin .3s linear infinite;
    animation: spin .3s linear infinite;
}



@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

