.block-area .collection-sl{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 5px;
    box-sizing: border-box;
}
.block-area .collection-sl-item{
    display: flex;
    gap: 3px;
    width: max-content;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
}

.post-text-collect-grid{
    display: grid;
}

@media only screen and (min-width: 1200px) {
    .post-text-collect-grid{
        grid-template-columns: 1.2fr .8fr;
    }
    .post-text-collect-grid > :first-child{
        border-right: solid 1px var(--font-col-nav-side-active);
    }
    
}


