.table-posts{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin-top: 16px;
}

.table-posts > .row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 16px 0;
    border-bottom: solid 1px var(--border-col-window);
    align-items: center;
}
.table-posts > .row.header:hover{
    background-color: unset;
}
.table-posts > .row:hover{
    background-color: rgba(0, 0, 0, 0.02);
}

.table-posts > .header{
    font-weight: bold;
    font-size: 1.8rem;
    color: var(--font-col-secondary);
}

.table-posts > .bottom{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.table-posts > .bottom > :last-child{
    align-self: center;
}